<!doctype html>
<html lang="it">
    <head>
        <meta content="IE=edge" http-equiv="X-UA-Compatible">
        <meta charset="utf-8">
        <meta content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" name="viewport">

        <!-- Use title if it's in the page YAML frontmatter -->
        <title><%= current_page.data.title || "Middleman" %></title>

        <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">

        <link rel="shortcut icon" href="https://lh4.googleusercontent.com/-4EFGp8NIxRg/UotMLOfvJtI/AAAAAAAAeGI/i8xYnYOxMBk/s16-no/favicon.ico" />

        <%= stylesheet_link_tag :site %>

    </head>

    <body class="<%= page_classes %>">

        <div class="row border">
            <div class="top-bar">
                <div class="top-bar-left">
                    <ul class="menu">
                        <li class="menu-text"><a href="/"><img src="https://prismic-io.s3.amazonaws.com/solede/ad1a0872cb0cc3f8bbdc38aec95e622b7bff6b0a.png"></a></li>
                    </ul>
                </div>
            </div>

        </div>
        <div class="spazio_bianco"></div>

        <%= yield %>


        <footer class="row">
        <div class="large-12 medium-12 columns">
          <hr />
          <div class="row">
            <div class="small-12 large-8 medium-8 columns">
              <a href="https://www.facebook.com/Fucina-del-Tag-1470272993263670/" target="_blank"><i class="fa fa-facebook"></i></a> | &copy; Fucina del Tag - Via Ampère 61/A - P.IVA 03201900960
            </div>
        </div>
        <div class="spazio_bianco"></div>
      </footer>

        <%= javascript_include_tag :all %>

    </body>
</html>
